html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	scroll-behavior: smooth;
    font-family: 'Poppins';
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #fff;
 }
html{
	font-size: 10px;
}
body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}
button{
	cursor: pointer;
	transition: all .4s ease-in;
}
.container-header{
	max-width: 150.5rem;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.container{
	max-width: 138rem;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.btn-lend{
	display: block;
	position: relative;
	padding: 0;
	border: none;
	border-radius: 100px;
	text-align: center;	
	color: #1c2031;
	font-size: 2.8rem;
	height: 72px;
	line-height: 72px;
	font-weight: 500;
	background: linear-gradient(210deg, #ffe03a 0%, #ffb216 100%);
}
.btn-lend::after{
	position: absolute;
    content: '';
	width: 38px;
	height: 38px;
	background: url('../images/btn-arrow.png') no-repeat;
	right: 10px;
	top: 17px;
}
