.nav-icon{
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
    z-index: 6;
    border-radius: 50%;
}
.nav-icon__middle{
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #fff;
}
.nav-icon__middle::before,
.nav-icon__middle::after{
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #fff;
}
.nav-icon__middle::before{
    top: 8px;
    transition: all .2s ease-in;
}
.nav-icon__middle::after{
    bottom: 8px;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle{
    background-color: transparent;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::before{
    transform: rotate(45deg);
    top: 0;
    transition: all .2s ease-in;
   
}
.nav-icon.nav-icon--active .nav-icon__middle::after{
    transform: rotate(-45deg);
    bottom: 0;
    transition: all .2s ease-in;
   
}


@media(max-width: 1400px){
    html{
        font-size: 9px;
    }
    .header-lend{
        min-height: 100vh;
        background-position: center;
        padding-top: 10px;
    }
    .header-lend__inner{
        padding: 0px;
    }
    .menu-lend__list{
        gap: 10px;
    }
    .menu-lend__list li a,
    .header-lend__phone{
        font-size: 16px;
    }
    .header-lend__btn{
        width: 100px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
    }
    .header-block__content-btn{
        width: 400px;
    }
    .header-block__content-btn{
        padding-right: 20px;
    }
    .header-block__content::after{
        right: -80px;
    }
    .header-block__img{
        width: 40%;
    }
    .logo-lend{
        width: 200px;
    }
}

@media(max-width: 1100px){
    .header-lend__phone,
    .header-lend__btn,
    .header-block__content::after,
    .header-block::after{
        display: none;
    }
    .btn-lend{
        height: 60px;
        line-height: 60px;
    }
    .btn-lend::after{
        top: 11px;
    }
}


@media(max-width: 900px){
    html{
        font-size: 8px;
    }
    .nav-icon{
        position: relative;
        display: block;
        z-index: 8;
    }
    .menu{
        position: fixed;
        width: 100%;
        // height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        // background: rgb(220, 220, 220);
        background: #0079f6;
        right: 0;
        top: 0;
        color: #F7F7FF;
        z-index: 5;
        border-radius: 0px;
        transform: translateX(200%);
        transition: all .5s ease-in;
    }
    .menu-lend__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu li a{
        margin-bottom: 10px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
    }
    .menu li{
        margin-bottom: 10px;
    }
    .menu.nav--active{
        transform: translateX(0%);
        transition: all .5s ease-in;
        margin-left: 0;
    }
    .header-lend__social{
       margin: 0 15px 0 auto;
    }
    .header-lend{
        min-height: 700px;
    }
    .header-block{
        margin-top: 50px;
    }
}


@media(max-width: 750px){
    .header-block__img{
        display: none;
    }
    .header-block__content,
    .header-block__content-text{
        max-width: 100%;
    }
    .header-block{
        margin-top: 0;
    }
}

@media(max-width: 550px){
    .header-lend{
        padding-top: 15px;
        min-height: 490px;
    }
    .header-block__content-title{
        font-size: 27px;
    }
    .logo-lend{
        width: 150px;
    }
    .header-block__content-text{
        font-size: 18px;
        line-height: 1.4;
    }
    .btn-lend{
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
    }
    .btn-lend::after{
        top: 5px;
    }
    .header-block__content{
        transform: translateY(35px);
    }
    .header-block__content-title{
        margin-bottom: 30px;
    }
    .header-lend__icon-inst, .header-lend__icon-phone{
        width: 28px;
        height: 28px;
    }
}