.full-slider__arrows{
    display: flex;
    gap: 5px;
}
.full .slick-prev,
.full .slick-next{
    padding: 0;
    font-size: 0;
    border: none;
}
.full .slick-prev,
.full .slick-next{
    width: 60px;
    height: 60px;  
}
.full .slick-prev{
    background: url('../images/icon/slider-full-arrow-left.svg') no-repeat;
}
.full .slick-next{
    background: url('../images/icon/skider-full-arrow-right.svg') no-repeat;
}
.full .slick-prev,
.full .slick-next{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    background-position: center;
}



//
.parents .slick-prev,
.parents .slick-next{
    padding: 0;
    font-size: 0;
    border: none;
}
.parents .slick-prev{
    background: url('../images/icon/slider-parents-arrow-left.svg') no-repeat;
}
.parents .slick-next{
    background: url('../images/parents-slider-arrow-right.png') no-repeat;
}
.parents .slick-prev,
.parents .slick-next{
    width: 60px;
    height: 60px;
    background-color: #2c3359;
    border-radius: 50%; 
    background-position: center; 
}

.parents .slick-list{
    padding:0 5% 0 5%;
}
.parents .slick-slide.slick-active{
    opacity: 1;
}
.parents-slider__item-img img{
    margin: 0 auto;
}
.parents .slick-slide{
    opacity: .5;
}